*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #333;
   
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}
h1{
    text-align: center;
}
footer{
    background-color: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section{
    margin: 30px 30px;
    padding: 0px 100px;
}
.imagem1{
    width: 310px;
    height: 161px;
}
.opa{
    padding: 0px 100px;
}
.rodape{
    color: white;
}
.part1{
    color: green;
    
}
.part2{
    color: rgb(169, 169, 37);
    padding-left: 120px;
}
strong{
    color: blue;
}